.dashboard-icon{
  font-size: 3.5rem;
}

.dashboard-photo{
  font-size: 3.5rem;
  height: 80px;
  width: 80px;
}

.edit-icon{
  font-size: 3.5em;
}

.edit-photo{
  font-size: 3.5em;
  height: 100px;
  width: 100px;
}
